.letterCard {
    height: 500px;
    width: 300px;
    border: 2px solid green;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    

    &__letter {
        font-size:200px;
    };

    &__transliteration {
        font-size: 100px;
    }
}