.singleLetter {
    width: 80%;
    height: 70%;
    border: 1px solid green;
    text-align: center;
    margin: auto;
    color: darkblue;

    h1 {
        font-size: 60px;
    }

    &__letter { 
        font-size: 200px;
    };

    &__transliteration, &__asInEnglishWord {
        font-size: 40px;
    }
    &__writtenForms {
        display: flex;
    }
    &__writtenAsInitialForm, &__writtenAsMedialForm, &__writtenAsMedialFormNA , &__writtenAsFinalFormNA,  &__writtenAsFinalForm {
        padding: 5%;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    // &__writtenAsMedialFormNA  {
    //     font-size: 30px;
    // }
    &__writtenAsMedialFormNA > span,  &__writtenAsFinalFormNA > span{
        padding: 10%;
        font-size: 30px;
        font-weight: 100;
    }

    &__writtenAsInitialForm> span, &__writtenAsMedialForm >span, &__writtenAsFinalForm>span {
        font-size: 100px;
    }

    // &__writtenAsInitialForm {
    //     font-size: 40px;
    // }
}