
    h1 {
        text-align: center;
        font-size: 70px;
        color: darkblue
    }


.letterList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    a {
        color: darkblue;
        text-decoration: none;
        
    }
}